.containerProjects {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-top: 60px;
  margin-bottom: 60px;
}
.first-section {
  opacity: 0;
  transform: translateY(100px);
  transition: transform 0.5s, opacity 0.5s;
}
.first-section.loaded {
  opacity: 1;
  transform: translateY(0);
}
.hidden {
  opacity: 0;
  transition: opacity 0.5s ease;
}
.visible {
  opacity: 1;
  transition: opacity 0.5s ease;
}

.containerTarjeta {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  height: auto;
  margin: 20px;
  text-align: center;
}
.imgWrapper {
  position: relative;
  margin-bottom: 30px;
  border-radius: 10px;
  width: 100%;
  overflow: hidden;
  transition: box-shadow 0.5s ease-in-out, transform 0.5s ease-in-out;
}
.imgProjects {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.hoverLayer {
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  transition: left 0.8s ease-in-out;
}
.hoverLayer .hoverIcon {
  color: white;
  cursor: pointer;
  font-size: 24px;
  transition: transform 0.4s ease;
}
.imgWrapper:hover {
  box-shadow: 0 0 20px 10px rgba(255, 255, 255, 0.5);
  transform: scale(1.05);
}
.hoverLayer .hoverIcon:hover {
  transform: scale(1.4);
}

.imgWrapper:hover .hoverLayer {
  left: 0;
}

.contenido {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: white;
  font-family: "Rounded";
  height: 200px;
}

.separador {
  position: relative;
  height: 2px;
  background-color: #ddd;
  overflow: hidden;
  margin: 20px 0;
}
.estrella-fugaz {
  position: absolute;
  width: 20px;
  height: 2px;
  background-color: white;
  box-shadow: 0 0 10px 5px white;
  animation: mover 2s linear infinite;
  overflow: hidden;
}
@keyframes mover {
  0% {
    left: -20px;
  }
  100% {
    left: 100%;
  }
}

.titleProject {
  font-size: 24px;
}
.textProject {
  font-size: 18px;
}
@font-face {
  font-family: "Rounded";
  src: url(../assets/Rounded.otf);
}
@media (max-width: 480px) {
  .containerTarjeta {
    min-width: 100%;
  }
}
