.project {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  height: 950px;
  width: auto;
  padding: 0;
  text-align: center;
  margin-top: 70px;
}
.project3 img {
  margin-top: 30px;
}

.github {
  display: inline-flex;
  color: #00a7e6;
  width: 60px; /* Ancho del círculo */
  height: 60px; /* Alto del círculo */
  border: 2px solid #00a7e6; /* Borde circular de color azul */
  border-radius: 50%; /* Hace que el borde sea circular */
  transition: 0.2s;
  position: relative;
  overflow: hidden;
  margin: 5px;
  box-shadow: 0 0 20px #00a7e6;
}
.github:hover {
  box-shadow: 0 0 20px #00a7e6, 0 0 40px #00a7e6, 0 0 80px #00a7e6; /* Efecto de brillo al pasar el mouse */
  transition-delay: 0.5s;
}
.icon:hover {
  transition-delay: 0.5s; /* Ajusta el brillo de los iconos al pasar el mouse */
  width: 35px;
  height: 35px;
}

@media screen and (max-width: 768px) {
  .project {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    height: 2500px;
    width: auto;
    padding: 0;
    text-align: center;
    margin-top: 70px;
  }
  .project3 img {
    margin-top: 0;
  }
}
