.contenedor {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  margin-top: 40px;
  margin-bottom: 40px;
}
.contenedor figure {
  position: relative;
  height: 350px;
  width: 50%;
  overflow: hidden;
  border-radius: 30px;
  box-shadow: 0px 15px 25px rgba(255, 255, 255, 0.75);
  cursor: pointer;
  margin: 40px;
}
.contenedor figure img {
  width: 100%;
  height: 100%;
  transition: all 500ms ease-out;
}
.contenedor figure .capa {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.6);
  transition: all 500ms ease-out;
  opacity: 0;
  visibility: hidden;
  text-align: center;
}
.contenedor figure:hover > .capa {
  opacity: 1;
  visibility: visible;
}
.contenedor figure:hover > .capa h4 {
  color: black;
  margin-bottom: 70px;
  margin-top: 40px;
  transition: all 500ms ease-out;
}
.contenedor figure:hover > img {
  transform: scale(1.3);
}
.contenedor figure:hover > .capa h5 {
  line-height: 1.5;
  width: 100%;
  max-width: 300px;
  margin: auto;
}
@media screen and (max-width: 1024px) {
  .contenedor figure {
    width: 75%;
  }
}
@media screen and (max-width: 480px) {
  .contenedor figure {
    height: 200px;
    width: 90%;
  }
  .contenedor figure:hover > .capa h4 {
    font-size: 1.2rem;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .contenedor figure:hover > .capa h5 {
    font-size: 0.8rem;
  }
}
